@import "bootstrap/variables";
@import "bootstrap/mixins";

// Large screen / wide desktop
$container-lg: $container-desktop;

@import "bootstrap/bootstrap";

.logo {
  text-align: center;
  font-size: $font-size-h4;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: #ec0801;
  }
}

.logo-image {
  @include img-responsive(inline-block);
}

.site-footer {
  margin: 20px 0;
}

.search-field-container {
  background: #b3dcf2;
  @include gradient-horizontal-three-colors(#95b8ca, #b3dcf2, 50%, #95b8ca);
  padding: 20px 0;
  margin: 0 0 10px;

  .form-control {
    border-color: #7794a4;
    @include box-shadow(0 1px 1px rgba(255,255,255,1))
  }
}

.search-details {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 10px;
}

.search-results-list {
  border-radius: 4px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.25));
}

.loading-indicator {
  text-align: center;
  padding: 40px 0;
  font-size: floor($font-size-base * 4);
  font-weight: 200;
  color: $gray-light;
}

.search-results-none {
  text-align: center;

  font-size: floor($font-size-base * 1.15);
  font-weight: 200;
  line-height: 1.4;

  margin: 0 0 30px;
}

.search-results-more {
  background: $gray-lighter;
  text-align: center;
  cursor: pointer;
}

.back-to-search-container {
  margin-bottom: 10px;
}

.facility-details {
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.facility-details-heading {
  margin: 0 0 5px 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,.8);
  font-size: $font-size-h3;
}

.facility-details-map {
  text-align: center;
}

.facility-details-info {
  text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

.facility-details-map-image {
  @include img-responsive(inline-block);
  background: #FFF;
  padding: 4px;
  margin: 5px 0;
  border-radius: 4px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.25));
}

.facility-inspections-list {
  .panel, .panel-title {
    border-radius: 0;
  }
}