@import "bootstrap/variables";
@import "bootstrap/mixins";

// Large screen / wide desktop
$container-lg: $container-desktop;

@import "bootstrap/bootstrap";

.logo {
  text-align: center;
  font-size: $font-size-h4;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: #ec0801;
  }
}

.logo-image {
  @include img-responsive(inline-block);
}

.site-footer {
  margin: 20px 0;
}

.search-field-container {
  background: #b3dcf2;
  @include gradient-horizontal-three-colors(#95b8ca, #b3dcf2, 50%, #95b8ca);
  padding: 20px 0;
  margin-bottom: 20px;
}

.search-results-list {
  border-radius: 4px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.25));
}

.back-to-search-container {
  margin-bottom: 10px;
}

.facility-details {
  background: #EEE;
  padding: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.facility-details-heading {
  margin: 0 0 5px 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,.8)
}

.facility-details-map {
  text-align: center;
}

.facility-details-info {
  text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}

.facility-details-map-image {
  @include img-responsive(inline-block);
  background: #FFF;
  padding: 4px;
  margin: 5px 0;
  border-radius: 4px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.25));
}

.facility-inspections-list {
  .panel, .panel-title {
    border-radius: 0;
  }
}